version: "3.8"
services:
  web:
    build: .
    container_name: cadastro-filmes_web_1
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: docker.io/library/postgres:15
    container_name: cadastro-filmes_db_1
    environment:
      POSTGRES_DB: cinema
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_pass
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  pgadmin:
    image: docker.io/dpage/pgadmin4:latest
    container_name: cadastro-filmes_pgadmin_1
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  db_data: